
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    max-width: 100px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }



  @media screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  }



  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    border-radius: 10px; 
    margin-right: 10px; 
}

.slides img:last-child {
    margin-right: 0; 
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.card {
    width: calc(30.30% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 40%; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h1, .card h2 {
    margin: 5px 0;
}

.card button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); 
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    width: 30%;
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer-col {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .footer-col {
        width: 100%;
    }
}
